<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
</head>
<body>
    <!--/*@thymeleaf id="recipe" type="com.kdg.recipe.domains.Recipe"*/-->
    <div class="container-fluid">
        <div class="row">
            <div class="container col-md-6 col-md-offset-3">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header text-white bg-primary">
                        <h2 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h2>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul style="padding-left: 15px;" th:each="category : ${recipe.categories}">
                                    <li th:text="${category.description}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.prepTime) + ' minutes'}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.cookTime) + ' minutes'}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.url}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-top: 20px;">
                    <div class="card-header text-white bg-success">
                        <h2 class="card-title">Ingredients</h2>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <ul th:each="ingredient : ${recipe.ingredients}">
                                    <li th:text="${(ingredient.amount + ' ' + ingredient.uom.description + ' - ' + ingredient.description)}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-top: 20px;">
                    <div class="card-header text-white bg-info">
                        <h2 class="card-title">Directions</h2>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.directions}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="card-header text-white bg-secondary">
                        <h2 class="card-title">Notes</h2>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.note.recipeNotes}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
            th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>